---
---

$orange: #BF5700;

html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Helvetica', sans-serif;
  max-width: 100%;
  line-height: 1.4em;
  font-size: 1.3em;
  color: #000;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

a {
  color: $orange;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  max-width: 750px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
}

.content {
  resize: vertical;
  overflow: auto;
  text-align: left;
}

p, ul {
  margin-bottom: 1em;
  list-style: circular;
  &.links { 
    margin: 0; 
    padding: 0;
    li {
      display: inline;
      list-style: none;
      
    }
  }
}
