/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #1a1a1a;
  font-family: 'EB Garamond', serif;
  max-width: 100%;
  line-height: 1.4em;
  font-size: 1.3em;
  color: #f2f2f2;
}

img { max-width: 100%; }


h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: 'Oswald';
}

h1 { 
  font-size: 2.4em;
  line-height: 1.3em;
}

p {
  margin: 1em 0;
}

#home section {
  padding-bottom: 25%;
}

a {
        color: #428bca;
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

ul.nostyle {
  list-style: none;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.background-image {
  background: url('/images/background.jpg') no-repeat 50% 50% fixed;
  margin-bottom: 30px;
  min-height: 400px;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.main {
  padding-top: 150px;
  font-size: 2em;
  line-height: 1.3em;
  font-family: 'Oswald';
  text-align: center;
}

.main{
  color: #fff;
}

.large {
        font-size: 2em;
        line-height: 1.4em;
}

.contact {
  font-size: 50px;
  text-align: center;
}

.contact a {
  color: #fff;
  padding: 0 10px;
}

.contact img {
  height: 40px;
}

#home section.resume-cta {
  text-align: center;
  padding-bottom: 10%;
}

.resume-cta .icon {
  font-size: 1.5em;
}

/*****************************************************************************/
/*
/* Resume
/*
/*****************************************************************************/

#resume section {
  margin-bottom: 30px;
}

#resume .intro h1 {
  font-size: 4em;
  width: 100%;
}

#resume .intro h1 span {
  float: right;
  font-size: 1.4em;
}

#resume h3 {
  font-family: 'EB Garamond', serif;
  letter-spacing: .02em;
  text-transform: uppercase;
}

#resume #tech ul {
  list-style: none;
}

#resume #tech li {
  display: inline-block;
  font-family: sans-serif;
  background-color: #5E96FF;
  padding: 0px 10px;
  margin: 5px;
  border-radius: 4px;
}

#resume #tech li a {
  color: #fff;
}



.gig-left {
  width: 50%;
  display: inline-block;
} 

.gig-right {
  width: 49%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}

.gig-right p {
  text-align: left;
}

.gig {
  width: 100%;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding: 10px 0 25px 0;
}

.gig h2 {
  font-size: 1.3em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.icon-art {
  width: 100%;
  text-align: center;
  font-size: 5em;
}


.icon-nav {
  color: #555;
  font-size: 1.3em;
  width: 100%;
  text-align: center;
}
.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}




@media (min-width: 1200px) {

  
  .inner {
    width: 60%;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 0;
  }

  .home-top { 
    max-width: 700px;
  }
}

@media (max-width: 1200px) {
  .inner {
    width: 75%;
    max-width: 550px;
    margin: 0 auto;
    padding: 10px 0;
  }
}


@media (max-width: 800px){
  .inner {
    width: 95%;
  }
/*
  body {
    font-size: 2em;
  }*/

  #resume .intro h1 span {display: none;}
  .large {
    font-size: 1.4em;
  }

  .inner {
    overflow: hidden;
  }

  .nouns {
    font-size: .5em;
    line-height: 1em;
  }
}

@media (max-width: 500px) {
  body {

    font-size: 1.5em;
  }
        
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
