/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
	background: url("https://farm6.staticflickr.com/5452/9467245457_3e02cc9169_o.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}
body {
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	max-width: 100%;
	line-height: 1.2em;
	font-size: 3em;
	color: #fff;
}

span.shade {
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	width: 100%;
	height: 100%;

	top: 0;
}
h1 {
	font-size: 2.4em;
}

a {
	color: #72b9f6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.large {
	font-size: 3em;
	line-height: 1.4em;
}

.contact {
	margin-top: 5%;
}

@media (min-width: 1200px) {
	.inner {
		width: 80%;
		max-width: 900px;
		margin: 0 auto;
		padding: 30px 0;
	}
}

@media (max-width: 1200px) {
	.inner {
		width: 75%;
		margin: 0 auto;
		padding: 30px 0;
	}
}


@media (max-width: 800px){
	.inner {
		width: 95%;
	}

	body {
		font-size: 2em;
	}

	.contact {
		margin: 0;
	}
}

@media (max-width: 500px) {
	body {
		font-size: 1.5em;
	}
	
}
