<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Luke Wright is a web developer currently living in Austin, TX..">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/ionicons.min.css">

        <!--Scripts -->
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

        <script type="text/javascript">

         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-32429996-1']);
         _gaq.push(['_trackPageview']);

         (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

        </script>

    </head>
    <body>

      {{ content }}

      <div class="footer">
        <div class="inner">
          <div class="contact">
            <a href="//github.com/simplyluke"><span class="icon ion-social-github"></span></a>
            <a href="//twitter.com/_simplyluke"><span class="icon ion-social-twitter"></span></a>
            <a href="http://www.linkedin.com/in/simplyluke/"><span class="ion-social-linkedin"></span></a>
            <a href="mailto:luke@simplyluke.com"><span class="icon ion-android-mail"></span></a>
            <a href="/resume"><span class="icon ion-clipboard"></span></a>
          </div>
        </div>
      </div>
    </body>
</html>
