<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Luke Wright is a Web Developer, Photographer, Geek located in Austin, TX.">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!--Scripts -->
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

        <script type="text/javascript">

         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-32429996-1']);
         _gaq.push(['_trackPageview']);

         (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

        </script>

    </head>
    <body>

          {{ content }}

          <div class="footer">
          <div class="inner">
            <div class="contact">
              <p>
                <a href="/">Luke Wright</a><br />
                Currently coding for <a href="http://rainforestpartnership.org/" target="_blank">Rainforest Partnership</a>, studying, and working on interesting projects as they come.<br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/simplyluke" target="_blank">github.com/simplyluke</a><br />
                <a href="mailto:luke@simplyluke.com">luke@simplyluke.com</a><br>
                <a href="https://twitter.com/cenhyperion" target="_blank">@cenhyperion</a><br />
              </p>
            </div>
          </div>
          </div>
    </body>
</html>
